.page-modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 35px 40px 45px 40px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}

.page-modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.page-modal__button-off {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: var(--main-text-color);
  background-color: inherit;
  transition: fill var(--animation);

  &:hover,
  &:focus {
    fill: var(--third-text-color);
  }
}
