.page-footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bg-color);
  color: var(--main-white-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.page-footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__title {
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 12px;
}

/* address */
.address {
  max-width: 270px;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.address__list {
  margin-top: 20px;
}

.address__link {
  font-style: normal;
  line-height: 1.7;
  color: rgba(134, 134, 134, 0.6);

  &:hover,
  &:focus {
    color: var(--third-text-color);
  }
}

.address__link--color-white {
  color: var(--main-white-color);
}

.address__item {
  margin-top: 9px;
  margin-bottom: 9px;
}

.address-contact-container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

/* contacts */
.contacts {
  max-width: 270px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 85px;
    margin-right: 90px;
  }
}

.contacts__list {
  display: flex;
  justify-content: center;
}

.contact__item:not(:last-child) {
  margin-right: 10px;
}

/* form-subscription */
.form-container {
  max-width: 570px;
  width: 100%;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-subscription__input {
  // display: block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &::placeholder {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1200px) {
    max-width: 360px;
    width: calc(100% - 216px);
    margin-right: 8px;
  }
}

.form-subscription__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  fill: var(--main-white-color);
  transform: translateY(-50%);
}
