.collection__buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-right: -8px;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.collection__buttons-item {
  margin-top: 15px;
  margin-right: 8px;
}

.collection__list {
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  // display: flex;
  // flex-wrap: wrap;
}

.collection__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .collection__projects-details,
  &:focus .collection__projects-details {
    transform: translatey(0);
  }
}

.collection__link .collection__container-profession {
  flex-grow: 1;
}

.collection__items {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 3;
  }
}

.collection__items .collection__link {
  flex-grow: 1;
}

.collection__projects-container {
  position: relative;
  overflow: hidden;
}

.collection__projects-details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  padding: 63px 24px;
  margin-bottom: 0;

  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--animation);
}

.collection__container-profession {
  border: 1px solid #eeeeee;
  border-top: inherit;
  background-color: var(--main-white-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.collection__projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.collection__projects-profession {
  margin-bottom: 0;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.9;
}
